<app-nav></app-nav>


<div class="mdc-layout-grid margin-nav">
  <div class="mdc-layout-grid__inner">
    <div *ngFor="let asso of assoGetList$ | async;"
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
      <app-asso-card [assoData]="asso"></app-asso-card>
    </div>
  </div>
</div>
