@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap");
section {
  height: 100vh;
}

.btn-s1 {
  background-color: #e87613 !important;
  border-radius: 20px;
  position: absolute;
  top: 90vh;
  right: 2em;
}
.premiere {
  width: 100%;
  margin: 0;
  padding: 0;
}
.svg1 {
  top: 38vh;
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.svg2 {
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40%;
  padding-left: 60%;
}

.title {
  margin: 0 0 0 1em;
  width: 50vw;
}

h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 12rem;
  height: 12rem;
  color: #191847;
  font-family: "Baloo Bhaijaan", cursive;
}
p {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 10rem;
    height: 10rem;
  }
}
