<section class="premiere">
  <div class="title">
    <h2>I.D.E.</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi ut dolores,
      quaerat fugit autem
    </p>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="svg1"
    viewBox="0 0 1230 694"
    fill="none"
  >
    <g opacity="0.6">
      <path
        opacity="0.6"
        d="M1229.44 495.767C1247.28 616.971 812.506 696.042 438.303 640.915C64.1011 585.788 -107.579 370.108 70.9757 255.214C249.53 140.321 1211.61 374.377 1229.44 495.767Z"
        fill="#DDE3E9"
      />
    </g>
    <path
      d="M66.7024 244.263C101.447 302.36 141.766 358.6 166.106 422.265C165.177 414.84 164.062 407.23 162.947 399.806C156.816 360.271 149.198 320.921 141.023 281.571C136.935 261.525 132.662 241.665 128.202 221.804C125.787 211.039 123.372 200.459 120.956 189.694C120.399 187.095 119.841 182.64 119.098 178C142.695 255.214 165.362 332.614 182.085 411.685C184.314 422.079 186.172 432.473 187.659 442.868C188.216 440.455 188.773 438.227 189.331 435.814C196.02 407.601 206.239 379.574 218.13 353.217C223.89 340.596 230.393 328.16 238.196 316.837C243.027 309.599 254.547 301.06 258.82 293.822C234.666 338.183 225.933 393.495 211.998 441.754C208.654 453.448 205.124 465.327 201.779 477.02C222.961 434.515 255.662 399.991 300.997 384.957C246 421.151 213.113 484.816 190.817 549.78C190.817 550.522 190.631 551.265 190.631 552.007C197.134 539.571 205.31 528.435 216.643 520.639C240.612 503.748 266.995 508.76 290.22 523.237C272.012 511.73 239.125 522.124 223.89 534.003C212.927 542.355 203.637 553.678 195.462 564.629C193.604 567.227 190.817 570.383 188.03 573.538C184.128 599.153 177.625 624.396 168.521 649.639C170.007 642.4 168.893 630.892 169.264 625.509C169.264 624.953 169.264 624.396 169.45 623.839C168.149 629.407 166.663 634.79 165.362 640.173C167.964 629.964 169.264 619.199 170.379 608.433C170.751 603.793 170.937 599.153 171.308 594.512C171.308 585.789 170.937 576.879 170.193 567.97C167.964 559.432 165.548 551.265 163.504 544.583C156.258 520.268 145.668 496.881 132.662 475.164C120.77 455.304 106.464 437.299 89.9274 421.151C81.009 412.427 71.719 404.075 62.6148 395.537C59.2703 392.567 53.3247 384.957 48.3081 381.059C85.654 401.662 123.929 423.75 151.242 456.974C148.083 444.724 144.553 432.659 140.837 420.78C122.257 360.827 98.8459 298.648 66.7024 244.263Z"
      fill="#DDE3E9"
    />
    <path
      d="M104.048 573.353C104.048 639.987 109.251 694 180.227 694C251.202 694 256.405 639.987 256.405 573.353"
      fill="#C5CFD6"
    />
    <path
      d="M545.007 281.701L628.674 493.36L684.737 672.299H706.889L621.177 281.701H545.007Z"
      fill="#997659"
    />
    <path
      d="M528.137 281.701C527.285 356.174 514.335 456.209 512.119 460.81C510.756 463.878 463.044 503.244 368.812 578.74L384.148 595.1C495.25 530.341 553.357 493.701 558.469 485.01C566.137 472.058 591.356 352.765 611.464 281.701H528.137Z"
      fill="#B28B67"
    />
    <path
      d="M366.927 573.446C361.807 575.296 358.278 576.923 356.319 578.566C353.97 580.538 350.904 583.778 346.993 588.395C349.293 591.136 369.885 615.679 408.769 662.023C416.677 658.724 419.216 654.591 416.212 650.215C413.229 645.6 410.773 641.877 408.865 638.807L395.44 591.787C395.154 590.915 394.235 590.351 393.364 590.637L386.15 592.909C381.146 590.657 377.734 588.181 375.762 585.831C374.119 583.873 372.712 580.605 371.321 575.766C370.878 573.912 368.911 572.894 367.058 573.336C367.058 573.336 367.058 573.336 366.927 573.446Z"
      fill="#E4E4E4"
    />
    <path
      d="M675.705 664.119C673.831 669.232 672.808 672.981 672.808 675.537C672.808 678.605 673.32 683.035 674.342 689C677.92 689 709.956 689 770.449 689C773.005 680.82 771.471 676.219 766.189 675.708C760.736 675.026 756.305 674.515 752.727 674.003L708.082 653.894C707.23 653.553 706.207 653.894 705.866 654.746L702.969 661.733C698.028 664.119 693.938 665.142 690.871 665.142C688.315 665.142 684.907 664.119 680.306 662.074C678.602 661.222 676.557 662.074 675.705 663.778C675.705 663.949 675.705 663.949 675.705 664.119Z"
      fill="#E4E4E4"
    />
    <path
      d="M601.24 653.894L706.548 642.476L628.504 281.701H534.101L601.24 653.894Z"
      fill="#69A1AC"
    />
    <path
      d="M390.793 552.495L459.806 634.296C532.568 554.881 574.998 502.904 587.096 478.704C599.195 454.505 610.1 388.724 619.643 281.701H513.483C508.2 375.942 504.622 425.193 502.918 429.624C501.043 433.884 463.555 474.955 390.793 552.495Z"
      fill="#89C5CC"
    />
    <path
      d="M556.935 94.4117C547.392 87.0838 539.724 77.1995 538.02 64.5886C532.908 28.46 584.199 25.5628 597.661 41.5821C611.123 57.6014 619.813 103.444 608.056 109.238C603.284 111.624 592.038 110.772 579.939 106.511L596.979 153.036L556.935 161.556V94.4117Z"
      fill="#B28B67"
    />
    <path
      d="M610.1 12.7814C608.567 10.0547 605.84 8.00969 602.773 8.00969C602.092 8.00969 601.24 8.00969 600.558 8.35053C600.217 8.35053 600.217 8.52095 600.047 8.35053C599.876 8.18011 599.876 7.83927 599.706 7.66886C599.536 7.1576 599.195 6.64635 598.854 6.30551C597.832 4.77175 596.468 3.57882 594.935 2.55632C592.038 0.681719 588.459 -0.170371 585.051 0.170465C583.177 0.340883 581.473 1.02255 579.769 2.04506C578.917 2.55632 578.235 3.06757 577.383 3.74924C577.213 3.91966 576.531 4.77175 576.19 4.77175C575.85 4.77175 575.168 4.2605 574.998 4.09008C571.76 2.55632 568.011 2.3859 564.433 3.23799C560.514 4.09008 556.594 5.11259 553.868 8.35053C553.357 9.0322 552.675 9.71387 552.164 10.3955C551.823 10.7364 551.653 11.2476 551.482 11.5885C551.312 11.7589 551.141 12.0997 551.141 12.2701C550.971 12.7814 550.971 12.7814 550.46 12.611C548.585 11.9293 546.711 11.9293 544.837 12.611C543.814 12.9518 542.792 13.6335 541.769 14.1447C541.429 14.3152 540.747 15.1672 540.406 15.1672C540.065 15.1672 539.043 14.8264 538.702 14.8264C536.487 14.4856 534.272 14.8264 532.227 15.6785C530.012 16.5306 528.137 17.8939 526.433 19.4277C525.581 20.2798 525.07 20.9615 524.559 21.984C524.388 22.4952 524.218 22.8361 524.048 23.3473C523.877 23.5177 523.536 23.8586 523.536 24.1994C523.536 24.029 520.81 23.6881 520.639 23.5177C519.276 23.5177 518.083 23.8586 516.891 24.5402C514.675 25.7332 513.142 27.9486 511.949 29.9936C511.267 31.0161 510.756 32.209 510.415 33.402C510.245 33.9132 510.075 34.5949 509.904 35.1062C509.904 35.447 509.904 35.7878 509.734 35.9582C509.563 36.2991 509.393 36.2991 509.052 36.4695C507.348 37.492 505.815 39.0258 504.792 40.9004C503.77 42.775 503.258 44.82 503.429 46.865C503.429 47.0354 503.599 47.5467 503.429 47.5467C503.429 47.7171 502.918 47.7171 502.747 47.7171C502.236 47.8875 501.725 48.0579 501.384 48.2283C500.532 48.5692 499.68 49.0804 498.998 49.7621C496.102 51.9775 494.398 55.5563 494.057 59.1351C493.546 62.8843 494.568 66.9743 496.613 70.0418C496.954 70.5531 497.294 71.0644 497.806 71.4052C498.146 71.746 498.146 71.746 498.146 72.0869C498.146 72.4277 497.976 72.9389 497.806 73.2798C497.465 74.6431 497.465 75.8361 497.465 77.1994C497.465 79.4148 497.806 81.6303 498.658 83.6753C498.998 84.5274 499.51 85.5499 500.191 86.2316C500.532 86.5724 500.873 86.9132 501.384 87.2541C501.554 87.4245 501.895 87.5949 502.066 87.7653C502.236 87.7653 502.406 87.9357 502.406 87.9357C502.747 88.1061 502.747 87.9357 502.747 88.447C502.747 89.1287 502.406 89.8103 502.406 90.3216C502.236 91.0033 502.236 91.6849 502.236 92.1962C502.066 93.7299 501.895 95.0933 502.066 96.4566C502.236 99.0129 502.747 101.569 504.451 103.614C505.133 104.466 505.985 105.148 507.007 105.659C507.519 105.83 508.03 106 508.541 106.17C508.882 106.17 509.052 106.17 509.223 106.511C509.393 106.682 509.393 107.363 509.393 107.534C509.563 110.09 509.904 112.817 511.267 115.032C512.46 117.077 514.335 118.781 516.55 119.633C520.81 121.338 525.922 120.145 529.5 117.248C530.352 116.566 531.204 115.714 531.886 114.691C534.783 117.248 539.213 116.055 542.281 114.521C546.029 112.646 548.585 109.238 549.778 105.148C553.016 107.704 557.957 105.489 559.15 101.91C559.321 101.058 559.491 100.035 559.321 99.1833C559.321 98.6721 559.15 98.1608 559.15 97.6496C559.15 96.9679 559.321 96.2862 559.491 95.775C559.661 94.582 559.661 93.3891 559.491 92.0258C559.321 91.3441 559.15 90.8328 558.98 90.1512C558.809 89.6399 558.809 88.9582 558.809 88.447C557.787 88.7878 556.594 88.7878 555.572 88.7878C554.549 88.6174 553.527 88.1062 552.675 87.5949C550.801 86.2316 549.437 84.357 548.245 82.3119C545.859 77.8811 545.177 72.2573 549.267 68.6785C551.141 66.9743 557.787 65.611 560.514 65.611C563.41 65.611 567.841 71.0644 568.011 71.5756C568.182 71.9164 568.182 72.4277 568.522 72.5981C569.374 72.9389 570.397 71.746 570.738 71.2348C571.419 70.2123 571.93 69.1898 572.271 67.9968C572.953 65.4406 573.464 62.8843 573.634 60.328C573.805 58.283 573.634 56.238 573.975 54.3634C574.316 52.3184 574.998 50.4438 576.531 49.0804C578.065 47.5467 580.11 46.5242 581.984 45.3312C583.859 44.1383 585.563 42.9454 586.926 41.0708C587.267 40.7299 587.437 40.2187 587.607 39.8779C587.778 39.537 587.778 38.8554 588.119 38.6849C588.63 38.3441 589.482 38.8554 589.993 39.0258C592.549 39.8779 594.764 41.582 596.639 43.2862C598.513 45.1608 600.217 46.865 601.751 49.0804C602.773 50.6142 603.796 52.8296 605.329 54.0226C606.011 54.5338 610.441 54.0226 611.634 53.1705C612.827 52.3184 614.19 50.6142 614.36 49.5917C614.701 48.5692 614.531 47.5467 614.19 46.5242C614.02 46.0129 613.508 45.5017 613.338 44.82C613.168 44.3087 612.997 43.9679 612.656 43.4566C611.975 42.775 611.123 42.2637 610.1 42.2637C610.952 41.0708 611.464 39.8779 611.804 38.5145C612.145 37.1512 612.316 35.447 612.145 34.0836C611.975 32.8907 611.634 31.8682 610.782 31.0161C609.93 30.164 608.567 29.6528 607.544 29.3119C608.737 27.7782 609.76 26.074 610.441 24.3698C611.464 20.4502 611.804 16.1898 610.1 12.7814Z"
      fill="#191847"
    />
    <path
      d="M678.943 231.598L746.252 222.396C759.713 214.897 772.153 209.785 783.399 207.228C786.637 207.058 791.579 208.251 784.081 214.556C776.583 220.862 768.915 227.849 770.278 231.087C771.642 234.495 778.628 233.132 779.821 238.415C780.673 241.823 769.256 242.335 745.741 240.119L691.212 261.762L678.943 231.598ZM467.645 247.106L504.963 247.277C464.066 339.302 442.766 387.531 440.892 391.962C436.972 401.675 445.322 416.672 448.9 424.682C437.313 429.965 438.506 410.537 423.851 417.524C410.39 423.83 400.336 435.077 384.829 425.534C382.955 424.341 380.91 419.91 385.852 416.502C398.462 407.981 416.524 392.814 418.91 387.872C422.318 380.884 438.506 334.019 467.645 247.106Z"
      fill="#997659"
    />
    <path
      d="M569.886 128.836L599.024 130.711C606.181 195.81 645.374 236.881 733.131 223.077L744.718 306.923C662.755 317.489 590.845 284.769 576.02 195.81C572.442 172.634 569.375 148.775 569.886 128.836Z"
      fill="#AFB9C5"
    />
    <path
      d="M555.401 120.315L599.706 130.37C599.706 206.547 623.903 255.116 636.342 311.013H516.89C515.186 330.441 514.164 350.209 513.653 370.659H424.021C444.299 262.785 487.07 179.28 552.504 120.145L555.401 120.315Z"
      fill="#C5CFD6"
    />
    <path
      d="M535.635 202.457C532.568 249.833 534.442 286.132 541.088 311.013H516.891C520.128 272.839 526.092 236.54 535.635 202.457Z"
      fill="black"
      fill-opacity="0.1"
    />
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="svg2"
    viewBox="0 0 623 878"
    fill="none"
  >
    <path
      d="M616.257 46.4684C615.582 45.6521 613.509 45.0476 612.57 44.6817C608.848 43.0565 604.701 41.8475 600.648 40.9956C588.164 38.3716 575.246 37.0053 562.483 36.5145C554.43 36.1706 544.076 38.7153 536.803 34.6575C524.228 27.6308 510.576 24.9297 496.478 28.3735C483.65 31.4099 472.493 40.1928 464.896 50.5668C463.712 52.1726 459.307 57.8225 457.418 61.9778C456.924 62.717 456.234 63.5836 455.74 64.3228C454.225 66.7019 452.871 69.115 451.517 71.5282C450.955 72.5903 449.636 74.842 450.507 75.5309C448.274 78.0966 446.17 80.8579 444.357 83.8488C439.017 92.337 433.184 101.564 429.885 110.819C428.652 114.269 427.905 117.821 427.611 121.637C427.4 123.448 426.653 127 427.516 128.53C429.499 131.982 431.645 128.218 431.728 126.212C432.513 111.202 439.775 98.3975 447.652 85.8903C452.761 77.6909 459.809 70.7418 467.335 64.7365C473.454 59.7844 479.627 56.1922 487.088 53.714C496.213 50.5738 505.783 48.5386 515.19 46.4694C521.407 45.0786 527.591 43.8493 533.903 42.8155C535.302 42.6037 537.681 41.7549 538.978 42.0275C542.058 42.675 545.799 45.8216 548.709 47.2765C557.86 52.0661 566.841 57.6632 576.622 61.0678C582.903 63.3997 589.14 63.5303 595.58 62.692C596.262 62.6669 597.371 62.2254 598.837 61.6907C603.588 60.8346 608.245 59.6215 612.618 57.3373C615.099 56.0041 617.52 54.1525 619.745 52.4282C620.367 51.8845 620.827 51.3068 620.997 50.4994C621.355 50.4061 621.747 50.1513 621.815 49.8284C622.742 47.8315 618.851 47.0136 616.257 46.4684Z"
      fill="#FF9B21"
    />
    <path
      d="M588.987 102.109C583.712 99.8198 577.551 98.5248 571.843 97.4936C541.585 91.6395 508.929 99.6128 484.85 118.325C464.402 134.26 454.806 157.365 446.438 181.066C445.605 183.42 444.934 185.808 444.262 188.196C444.161 188.68 443.897 189.13 443.795 189.615C442.26 190.472 441.34 191.628 441.845 193.251C437.799 198.808 434.044 204.594 430.579 210.61C420.575 228.403 410.307 246.646 409.828 267.452C412.946 256.643 417.268 245.749 421.683 235.211C421.981 234.6 422.279 233.988 422.577 233.376L422.611 233.215C424.134 229.994 425.786 226.969 427.728 224.174C427.728 224.174 427.728 224.174 427.762 224.012C428.026 223.562 428.256 223.273 428.52 222.823C429.014 222.084 429.541 221.183 430.198 220.478C430.428 220.189 430.658 219.9 430.691 219.739C433.391 215.754 435.254 210.918 437.826 206.738C438.354 205.837 439.077 204.809 439.605 203.909L439.639 203.747C441.351 201.241 443.225 198.768 445.099 196.296C445.85 195.948 446.641 194.597 447.527 193.603C447.724 193.475 449.036 192.065 449.564 191.164C450.68 189.882 451.83 188.437 452.946 187.154C454.062 185.872 455.178 184.589 456.294 183.306C456.524 183.017 456.754 182.728 456.984 182.439C457.41 182.023 457.674 181.573 458.1 181.156C461.679 177.019 465.581 172.95 469.45 169.042C470.762 167.632 473.865 165.755 474.725 164.081L474.759 163.919C482.982 156.206 492.009 149.504 502.122 144.886C500.749 145.777 497.827 149.21 497.009 149.881C494.75 151.767 492.329 153.618 489.747 155.436C485.365 158.561 481.078 162.044 477.115 165.595C469.778 172.314 463.183 179.527 456.878 186.969L456.682 187.097C453.802 189.526 451.46 193.418 449.16 196.306C456.29 194.602 463.993 194.197 471.379 192.884C478.604 191.536 485.862 190.026 492.932 187.803C502.347 184.892 512.025 181.531 521.226 177.227C531.493 173.484 540.742 167.335 549.248 160.692C559.195 152.835 568.527 144.681 575.51 134.009C578.968 128.834 581.845 123.201 584.27 117.303C584.338 116.98 584.534 116.853 584.602 116.53C586.178 114.669 587.43 112.741 588.715 110.65C590.529 107.66 594.262 104.398 588.987 102.109Z"
      fill="#E87613"
    />
    <path
      d="M578.038 210.581C572.632 204.893 564.276 201.956 556.656 200.354C526.825 194.084 496.306 199.135 468.687 210.527C453.492 216.775 439.247 225.752 426.197 235.486C418.739 241.168 411.665 247.437 406.205 254.889C402.423 259.995 399.418 265.433 397.028 271.169C394.041 278.129 391.311 285.479 389.263 292.805C388.49 295.677 383.415 310.965 388.245 312.149C388.177 312.472 388.075 312.956 388.007 313.279C373.811 327.661 363.253 345.675 353.223 362.788C344.513 377.649 336.383 392.969 329.841 408.792C321.206 429.739 313.928 451.477 307.981 473.326C306.673 477.94 305.492 482.75 304.312 487.56C303.302 491.563 302.291 495.566 301.246 499.73C300.134 504.217 298.203 509.375 298.064 514.067C297.898 518.078 301.404 518.31 302.415 514.307C303.561 509.658 304.579 504.814 305.726 500.166C307.374 493.936 308.859 487.673 310.507 481.444C321.813 438.128 338.981 396.719 362.585 358.517C372.114 342.985 382.411 328.626 394.553 315.161C405.186 303.233 417.372 291.969 429.517 281.707C441.432 271.735 453.604 262.154 467.057 254.528C478.029 248.235 489.737 243.277 501.667 238.872C516.726 233.27 531.752 227.829 547.701 224.437C555.871 222.614 564.298 221.182 572.435 219.52C573.868 219.147 575.429 218.969 576.862 218.596C581.714 217.255 580.968 213.558 578.038 210.581Z"
      fill="#FF9B21"
    />
    <path
      d="M425.631 338.048C437.791 340.603 448.152 344.467 458.355 351.501C467.038 357.71 474.801 365.074 481.976 372.821C492.209 383.739 499.576 395.404 503.474 409.88C505.736 418.449 506.346 430.042 501.988 437.894C496.803 447.257 486.479 453.686 475.503 449.525C468.769 446.929 463.235 441.045 458.963 435.595C453.726 429.098 449.861 421.711 447.105 413.881C442.672 401.147 441.3 387.539 437.941 374.525C436.372 368.294 434.804 362.063 432.681 356.053C431.603 353.128 430.397 350.009 428.372 347.56C427.279 346.318 422.011 343.188 424.594 341.37C393.039 335.244 360.13 353.28 347.853 381.892C346.789 384.534 345.692 387.339 344.629 389.981C343.931 391.689 342.736 398.182 340.877 398.972C336.801 400.644 339.983 393.557 340.221 392.427C341.122 389.75 342.219 386.946 343.283 384.303C348.905 369.636 358.701 356.858 372.324 348.425C388.104 338.59 407.311 334.197 425.631 338.048Z"
      fill="#E87613"
    />
    <path
      d="M28.8437 107.593L396.601 67.2298C412.465 65.4886 426.866 77.0085 428.602 92.8295L454.255 326.549C455.991 342.371 444.432 356.74 428.568 358.481L60.8104 398.844C44.9463 400.586 30.5459 389.066 28.8094 373.245L3.1572 139.525C1.42074 123.704 12.9797 109.335 28.8437 107.593Z"
      fill="#BDDBDF"
    />
    <path
      d="M150.302 147.028L308.943 129.617C315.072 128.944 320.272 133.104 320.943 139.217C321.614 145.329 317.44 150.518 311.31 151.191L152.67 168.603C146.541 169.275 141.34 165.115 140.67 159.003C139.999 152.89 144.533 147.662 150.302 147.028Z"
      fill="#DDE3E9"
    />
    <path
      d="M105.885 121.336L346.73 94.9015C352.859 94.2288 358.059 98.3887 358.73 104.501C359.401 110.614 355.227 115.803 349.098 116.476L108.253 142.91C102.123 143.583 96.9232 139.423 96.2523 133.31C95.6209 127.557 100.116 121.969 105.885 121.336Z"
      fill="#191847"
    />
    <path
      d="M183.092 179.819L284.045 168.739C290.174 168.066 295.375 172.226 296.045 178.339C296.716 184.452 292.542 189.641 286.413 190.313L185.46 201.394C179.331 202.066 174.13 197.906 173.46 191.794C172.789 185.681 177.323 180.453 183.092 179.819Z"
      fill="#DDE3E9"
    />
    <path
      d="M157.603 213.549L316.244 196.137C322.373 195.464 327.573 199.624 328.244 205.737C328.915 211.849 324.741 217.038 318.611 217.711L159.971 235.123C153.842 235.796 148.641 231.636 147.971 225.523C147.3 219.41 151.834 214.182 157.603 213.549Z"
      fill="#DDE3E9"
    />
    <path
      d="M190.393 246.34L291.346 235.259C297.475 234.587 302.676 238.747 303.347 244.859C304.017 250.972 299.843 256.161 293.714 256.834L192.761 267.914C186.632 268.587 181.432 264.427 180.761 258.314C180.09 252.201 184.624 246.973 190.393 246.34Z"
      fill="#DDE3E9"
    />
    <path
      d="M89.4619 317.461C80.9038 309.303 74.6722 299.07 74.0515 286.766C72.7078 251.251 122.61 253.779 134.279 270.33C145.947 286.88 149.478 332.344 137.574 336.926C132.685 338.918 121.874 336.83 110.707 331.505L122.767 378.216L83.107 382.569L89.4619 317.461Z"
      fill="#D9E8EA"
    />
    <path
      d="M148.901 243.98C147.864 241.182 145.425 238.903 142.101 238.54C141.38 238.619 140.619 238.338 139.898 238.418C139.538 238.457 139.538 238.457 139.538 238.457C139.538 238.457 139.498 238.098 139.459 237.738C139.419 237.378 138.98 236.699 138.94 236.339C138.022 234.621 136.782 233.301 135.582 232.341C132.822 230.461 129.74 228.979 126.095 229.016C124.292 229.213 122.49 229.411 120.766 230.328C120.084 230.767 119.042 231.245 118.36 231.684C118 231.724 117.358 232.522 116.997 232.561C116.636 232.601 116.197 231.921 115.797 231.601C112.676 229.761 109.352 229.398 105.747 229.793C101.781 230.229 98.2145 230.984 94.8458 233.537C94.1642 233.976 93.522 234.774 92.8799 235.572C92.5588 235.971 92.2377 236.371 91.9166 236.77C91.5955 237.169 91.5955 237.169 91.635 237.528C91.3139 237.928 91.3139 237.928 90.9534 237.967C89.3928 237.047 87.5506 236.885 85.4268 237.482C84.3452 237.601 83.303 238.079 82.2608 238.557C81.9003 238.597 81.2581 239.395 80.8975 239.435C80.537 239.474 79.7764 239.194 79.3764 238.874C77.1342 238.392 74.9315 238.27 72.8077 238.867C70.6838 239.464 68.5995 240.421 66.9546 242.057C66.3124 242.855 65.2703 243.333 65.0281 244.452C64.707 244.851 64.7465 245.21 64.4254 245.61C64.4649 245.969 64.1043 246.009 63.7833 246.408L61.141 245.606C60.0199 245.365 58.5777 245.524 57.5356 246.002C55.4512 246.958 53.4853 248.994 52.2404 250.95C51.5982 251.748 50.9955 252.906 50.3928 254.064C50.0718 254.463 49.7901 255.222 49.8296 255.581C49.8691 255.941 49.548 256.34 49.548 256.34C49.2269 256.739 49.2269 256.739 48.8664 256.779C47.1426 257.696 45.4582 258.972 44.5344 260.529C43.2896 262.485 42.7658 264.362 42.6421 266.559L42.721 267.278C42.721 267.278 42.3604 267.318 41.9999 267.358C41.6393 267.397 40.9183 267.476 40.5972 267.875C39.9155 268.314 38.8339 268.433 38.1917 269.231C35.1047 271.026 33.2966 274.499 32.5701 277.854C31.8831 281.568 32.3173 285.524 34.1146 288.601C34.1146 288.601 34.1936 289.321 34.5936 289.641C34.9936 289.961 34.9936 289.961 34.6725 290.36C34.712 290.719 34.3909 291.118 34.0698 291.518C33.4671 292.675 33.2644 294.153 33.3828 295.232C33.259 297.429 33.1353 299.626 33.7326 301.744C34.2116 302.783 34.2905 303.502 35.13 304.502C35.8905 304.782 35.93 305.142 36.33 305.462C36.3695 305.821 36.73 305.782 36.7695 306.141L37.1695 306.461C37.5695 306.781 37.5301 306.422 37.209 306.821C37.2879 307.54 36.9668 307.939 36.6852 308.698C36.4036 309.456 36.4431 309.816 36.1614 310.575C35.9193 311.693 35.7166 313.171 35.4744 314.289C35.3902 316.846 35.6664 319.363 36.9848 321.401C37.4638 322.441 38.2638 323.081 39.4244 323.681C39.8244 324.001 40.2244 324.321 40.9455 324.242C41.306 324.202 41.6666 324.163 41.7061 324.522C41.7455 324.882 41.785 325.241 41.8244 325.601C42.0612 327.758 42.377 330.635 43.3348 332.713C44.2927 334.791 45.9717 336.791 47.8928 337.671C51.7745 339.793 56.8222 339.239 60.5514 336.646C61.5936 336.168 62.2358 335.369 63.2385 334.532C65.7175 337.171 70.044 336.696 73.21 335.621C77.0576 334.107 80.0263 331.233 81.4344 327.44C84.2739 330.039 89.2427 328.766 90.6902 325.332C90.9718 324.574 91.214 323.455 91.1351 322.736C91.0956 322.377 91.0167 321.657 90.9772 321.298C90.8983 320.579 91.2193 320.18 91.501 319.421C91.7431 318.303 91.9853 317.184 91.8274 315.746C91.7485 315.027 91.709 314.667 91.6301 313.948C91.5511 313.229 91.5117 312.869 91.7933 312.111C90.7117 312.229 89.63 312.348 88.5089 312.107C87.3878 311.866 86.5878 311.226 85.7878 310.586C84.1877 309.307 82.8693 307.268 81.9114 305.19C79.9562 300.673 80.0853 295.201 84.4961 292.169C86.541 290.853 93.0309 290.141 95.5942 290.223C98.5575 290.626 102.073 296.063 102.152 296.782C102.192 297.141 102.231 297.501 102.631 297.821C103.392 298.101 104.394 297.263 105.076 296.825C105.718 296.026 106.321 294.869 106.924 293.711C107.768 291.435 108.574 288.799 109.058 286.562C109.221 284.725 109.345 282.528 109.869 280.651C110.393 278.774 111.316 277.217 113.001 275.94C114.685 274.664 116.769 273.707 118.493 272.79C120.578 271.834 122.301 270.917 123.586 269.32C123.907 268.921 124.228 268.522 124.549 268.123C124.87 267.723 124.831 267.364 125.152 266.965C125.473 266.566 126.273 267.206 127.033 267.486C129.355 268.687 131.355 270.287 133.034 272.286C134.713 274.285 135.991 275.964 137.349 278.363C138.268 280.081 138.865 282.199 140.465 283.479C141.265 284.119 145.271 284.043 146.634 283.166C147.997 282.288 149.282 280.692 149.563 279.933C149.805 278.815 150.087 278.056 149.608 277.017C149.529 276.298 149.129 275.978 149.05 275.259C149.011 274.899 148.571 274.22 148.532 273.86C148.092 273.181 147.292 272.541 146.171 272.3C147.174 271.462 147.776 270.304 147.979 268.826C148.582 267.668 148.745 265.831 148.627 264.752C148.508 263.673 148.39 262.595 147.55 261.595C146.711 260.596 145.55 259.995 144.429 259.754C145.753 258.517 147.037 256.921 147.922 255.004C149.73 251.531 150.377 247.457 148.901 243.98Z"
      fill="#191847"
    />
    <path
      d="M421.576 151.825L438.941 310.035C439.612 316.148 435.437 321.337 429.308 322.01C423.179 322.682 417.979 318.522 417.308 312.41L399.943 154.199C399.272 148.087 403.446 142.898 409.576 142.225C415.344 141.592 420.905 145.712 421.576 151.825Z"
      fill="#DDE3E9"
    />
    <path
      d="M440.314 472.533C408.743 473.867 412.26 522.129 442.923 515.213C453.615 512.787 470.087 503.742 466.136 490.114C463.106 479.884 450.083 472.991 440.314 472.533ZM455.096 459.716C474.806 465.571 485.651 489.115 476.179 507.27C467.08 524.654 440.091 534.783 422.412 525.915C405.504 517.421 399.737 492.629 407.925 475.945C416.755 458.526 438.034 454.48 455.096 459.716Z"
      fill="#89C5CC"
    />
    <path
      d="M264.561 455.284C272.275 456.839 278.015 463.053 285.659 465.145C292.801 466.899 299.023 465.254 306.248 464.287C314.885 462.958 322.273 462.832 330.582 466.104C336.814 468.558 342.426 473.662 349.066 475.077C362.079 477.871 379.077 464.798 387.065 483.051C390.843 491.739 383.162 496.198 376.172 491.187C369.183 486.175 373.117 485.324 363.137 486.477C355.107 487.339 348.524 487.571 340.823 483.832C333.891 480.467 328.314 475.094 320.6 473.539C313.154 472.019 305.987 474.633 298.529 475.296C289.425 476.018 281.547 473.622 273.344 469.544C265.642 465.806 262.597 464.041 254.263 465.137C248.952 466.081 237.081 469.172 232.473 464.745C224.761 456.908 236.444 457.343 241.112 457.134C248.804 456.775 257.15 453.496 264.561 455.284Z"
      fill="#89C5CC"
    />
    <path
      d="M96.7954 427.062C85.416 426.393 70.6674 445.224 85.3256 447.96C95.9926 449.902 110.157 433.453 96.7954 427.062ZM100.584 410.622C134.717 425.192 112.078 473.038 78.4569 462.905C63.2392 458.183 60.2238 439.488 67.3484 426.762C70.2334 421.403 75.1605 417.13 80.7172 414.306C85.0598 412.416 96.4643 408.717 100.584 410.622Z"
      fill="#89C5CC"
    />
    <path
      d="M440.727 780.43C442.398 776.005 442.81 768.684 443.02 767.073C444.307 759.32 445.326 751.531 446.578 744.047C449.771 725.89 452.463 707.394 456.497 689.074C460.122 671.794 465.86 655.062 468.142 637.606C469.723 625.521 477.146 595.898 467.731 586.472C451.116 573.646 453.517 611.656 452.942 618.136C451.219 637.578 447.722 655.968 443.349 674.79C439.187 692.001 439.017 710.006 437.539 727.568C436.578 737.003 435.652 746.169 435.228 755.674C435.11 758.663 433.121 771.787 433.55 778.946C429.559 778.15 426.034 777.963 423.887 777.682C409.462 775.249 394.733 773.05 380.308 770.617C324.488 761.132 268.245 754.869 212.763 744.881C160.199 735.549 107.12 728.061 54.0768 720.305C49.4433 720.245 46.6636 724.798 49.1246 728.944C51.5857 733.09 65.1125 734.04 69.3722 734.87C84.2637 737.91 98.9571 740.378 113.954 742.612C145.593 747.023 176.824 752.473 207.984 758.46C263.396 768.985 319.533 776.053 375.354 785.539C388.973 787.866 402.324 790.158 415.979 792.217C423.192 793.434 441.42 800.188 446.033 792.05C448.755 785.851 445.652 782.44 440.727 780.43ZM159.176 522.082C142.3 519.602 125.319 517.928 108.302 516.522C100.716 516.076 93.1648 515.362 85.6137 514.647C81.2837 514.354 71.5626 511.444 67.5236 513.101C51.473 518.923 81.9334 524 85.7266 524.222C101.331 525.99 117.04 526.952 132.411 528.416C189.762 534.55 246.749 545.554 303.643 555.18C330.882 559.835 358.227 563.684 385.665 568.911C400.591 571.682 415.483 574.723 430.409 577.494C437.353 578.675 444.262 580.125 450.973 581.003C455.268 581.565 463.612 584.568 467.849 583.483C471.514 582.597 474.444 581.068 473.092 576.794C471.775 572.251 462.671 572.972 459.217 572.247C446.099 570.259 433.051 567.733 419.735 565.172C389.613 559.594 360.099 553.549 330.105 549.08C273.035 540.797 216.281 530.097 159.176 522.082ZM77.9622 531.402C78.9807 523.613 69.7964 520.773 64.7991 525.583C60.1054 530.159 60.7526 546.086 59.7115 551.96C56.809 572.067 52.3309 591.694 47.8178 611.591C43.3398 631.218 39.667 650.951 35.4574 670.614C33.7264 679.675 21.6671 715.52 31.4334 722.26C43.7084 730.694 45.8233 695.734 46.9346 689.324C50.6776 669.054 54.9574 648.854 59.5057 628.689C67.0468 596.077 73.6422 564.434 77.9622 531.402Z"
      fill="#69A1AC"
    />
    <path
      d="M238.771 648.309C219.944 652.402 201.081 656.764 182.486 661.161C172.6 663.692 162.445 666.188 152.558 668.72C147.48 669.968 127.288 671.97 125.314 676.629C122.825 683.132 145.12 677.58 148.481 676.927C158.263 675.202 168.114 672.939 177.931 670.945C199.852 666.164 221.807 661.114 243.693 656.601C245.678 656.041 247.895 655.784 249.88 655.224C270.825 668.343 291.805 681.194 312.715 694.581C323.788 701.766 334.861 708.95 345.935 716.134C354.231 721.59 368.488 735.746 378.186 736.741C381.944 737.233 384.465 736.743 385.331 732.213C386.605 726.643 377.795 723.033 374.283 720.661C362.509 712.566 350.666 705.008 338.589 697.146C314.937 681.761 290.947 666.878 266.653 652.228C266.384 652.193 266.384 652.193 266.151 651.889C281.01 648.916 295.834 646.211 310.693 643.237C319.097 641.605 378.098 635.117 377.238 627.083C375.946 618.173 322.847 631.716 314.747 633.115C294.88 636.799 274.746 640.448 254.809 644.67C211.846 618.292 168.556 590.232 122.742 568.944C119.895 567.752 117.63 570.46 117.815 573.216C118.164 576.813 128.55 580.902 131.327 582.631C142.435 589.547 153.579 596.194 164.454 602.807C188.445 617.69 212.739 632.339 236.764 646.954C237.733 647.9 238.234 648.238 238.771 648.309Z"
      fill="#89C5CC"
    />
    <path
      d="M388.788 814.338C376.696 814.942 367.203 824.899 367 836.892C366.539 852.947 381.428 862.27 396.472 862.052C413.431 861.811 418.747 848.303 412.45 833.821C410.957 830.622 409.535 826.885 406.524 824.852C404.518 823.497 401.424 824.185 399.954 822.9C393.63 819.068 398.02 814.726 388.788 814.338ZM395.526 804.566C409.507 808.307 433.671 828.129 430.151 844.604C428.832 846.344 426.847 846.904 424.735 846.354C424.815 849.916 424.09 853.372 422.793 857.026C420.854 861.416 417.678 864.825 413.534 867.288C405.21 872.482 394.834 872.491 385.848 870.223C368.646 866.061 356.805 852.221 358.084 834.087C359.329 816.221 377.052 799.692 395.526 804.566Z"
      fill="#89C5CC"
    />
    <path
      d="M323.73 817.029C329.716 821.363 339.249 827.799 341.896 834.701C345.044 841.942 339.766 848.9 331.866 844.589C325.506 841.026 322.534 832.442 315.602 829.077C309.744 825.853 306.884 826.845 300.161 828.151C293.134 829.69 286.948 831.066 279.502 829.546C270.481 827.547 263.13 821.123 254.144 818.855C246.769 816.798 239.94 818.909 232.517 819.304C224.02 819.559 218.805 815.599 210.962 812.934C205.734 811.158 195.742 814.495 191.927 812.357C183.56 807.439 193.587 803.833 198.63 802.854C207.302 801.256 212.086 804.34 219.59 807.507C227.863 811.047 231.599 809.624 240.201 808.564C257.137 806.408 268.384 818.532 284.467 818.723C299.208 818.739 309.483 806.971 323.73 817.029Z"
      fill="#89C5CC"
    />
    <path
      d="M56.0517 774.101C38.2827 786.801 53.2244 810.334 72.2177 800.799C78.9535 797.309 79.7964 790.864 75.7725 784.055C72.2152 777.854 62.8327 774.441 56.0517 774.101ZM63.5377 762.788C77.9149 767.673 90.9952 776.212 90.1247 793.307C89.2893 810.133 71.0913 815.675 57.005 812.74C25.1096 806.111 34.2112 753.217 63.5377 762.788Z"
      fill="#89C5CC"
    />
  </svg>
  <button
    class="btn-s1"
    href="#id"
    mat-flat-button
    color="warn"
    (click)="(goSectionII)"
  >
    Scroll<i class="material-icons">
      keyboard_arrow_down
    </i>
  </button>
</section>
