<mat-card class="example-card ">
  <img mat-card-image src="../../assets/images/cardpersondashboard.svg" alt="Photo of a Shiba Inu" />
  <mat-card-title>{{ assoData.name }}</mat-card-title>

  <mat-card-content>
    <p>
      {{assoData.email}}

    </p>
    <p *ngIf="!assoData.active" class="accept">
      <!-- <span class="online_icon">•</span> -->
      Association en attente d'acceptation
    </p>
    <p *ngIf="assoData.active">
      <br>
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!assoData.active">
    <button mat-button class="accept" (click)="activer(assoData.email)">ACCEPTER</button>
    <button mat-button class="reject" (click)="deleteAsso(assoData.id)">
      REFUSER
    </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="assoData.active">
    <button mat-button class="reject" (click)="deleteAsso(assoData.id)">
      SUPPRIMER
    </button>
  </mat-card-actions>
</mat-card>