#signin {
    background-color: RGBA(137,197,204,0.3);
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 36vh;
    height: fit-content;
    z-index: 2;
    
    svg {
        position: absolute;
        top: 10vh;
    }

    .tab {
        height: 900px;
        h2 {
            width: 100%;
            text-align: center;
            margin: 0 0;
            font-size: 10rem;
            font-style: "Baloo Bhajiaan";
            color: #191847;
            height: 200px;
            position: absolute;
            z-index: 6;
        }
        ul {
            margin-left: 0;
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
            width: 50%;
            left: 45%;
            top: 25%;
            z-index: 5;
            position: absolute;
            li {
                width: 100%;
                word-wrap: break-word;
                margin: 2vh 0;
                list-style-type: none;
                font-size: 24px;
            }
        }        
        #log {        
            z-index: 8;
            position: absolute;
            left: 45%;
            top: 50%;
            width: 50%;
            app-input-btn2 {
                margin: 0;
                height: 28vh;
                z-index: 9;
                position: absolute;
            }
        }
    }   
}

