<div id="secthree">
    <section id="signin">   
        <div class="tab">
            <h2>let's get started</h2>
            <ul>
                <li>
                    &bull;Nous allons examiner ensemble, avec l'accompagnant, le ou les titres de séjours que vous pouvez pouvez solliciter.
                </li>
                <li>
                    &bull;Le principe est simple, il suffit de répondre aux questions posées. La plupart du temps, il n'y a qu'à répondre par oui ou non.
                </li>
            </ul>
            <div id="log">
                <app-input-btn2></app-input-btn2>
            </div>
        </div> 
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="852" viewBox="0 0 1440 852" fill="none">
            <path d="M1438.2 374.193C1401.97 600.956 1035.29 471.764 794.846 541.846C554.4 611.927 269.965 938.326 81.7943 778.418C-106.377 618.509 93.8008 232.095 525.5 144.849C957.305 57.6023 1474.43 147.559 1438.2 374.193Z" fill="#FFF"/>
            <g opacity="0.5">
            <path opacity="0.5" d="M616.719 20.7645C615.45 7.65012 599.267 -0.686146 587.315 5.71856C571.133 14.3598 578.114 36.1155 579.489 49.8399C581.392 68.9523 583.296 87.9631 584.142 107.076C584.777 121.105 579.489 141.641 584.142 154.552C588.162 165.735 600.008 170.818 611.008 164.21C622.008 157.703 621.585 137.371 622.537 126.696C625.815 91.5213 620.315 55.8379 616.719 20.7645Z" fill="#C1DEE2"/>
            <path opacity="0.5" d="M33.5079 19.1382C-24.6652 18.9349 -23.0787 114.192 -23.9248 152.722C-24.2422 167.463 -27.2037 221.344 -3.82869 223.377C25.3636 225.919 5.79631 176.104 4.63285 161.77C2.51747 134.118 -6.36715 54.0083 24.5175 38.759C42.604 29.8127 86.8156 39.8773 107.441 39.8773C136.21 39.8773 165.085 39.369 193.854 38.759C306.181 36.3191 421.364 22.5947 533.479 29.3044C546.7 30.1177 560.873 30.4227 573.671 34.3875C581.287 36.8274 591.229 45.1637 599.902 41.6055C627.614 30.1177 590.171 11.8186 580.018 8.87036C525.018 -7.09057 457.537 2.8723 401.056 5.31219C278.787 10.4969 155.777 19.4432 33.5079 19.1382Z" fill="#C1DEE2"/>
            <path opacity="0.5" d="M8.75784 220.327C-0.97293 220.327 -2.66524 231.713 1.98861 237.508C6.85399 243.608 26.6328 242.489 32.7675 242.794C60.0559 244.116 87.6617 242.286 114.844 240.456C169.527 236.796 224.104 232.018 278.787 228.358C335.902 224.495 393.123 222.157 450.344 219.006C474.989 217.684 499.739 216.362 524.383 214.329C540.777 213.008 587.104 216.566 600.431 205.485C630.469 180.679 577.69 178.85 566.162 179.866C542.152 181.899 518.248 184.136 494.239 185.661C438.71 189.117 383.075 191.252 327.546 194.505C221.566 200.605 114.844 219.616 8.75784 220.327Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M517.931 96.1981C518.566 97.4181 518.566 97.4181 517.931 96.1981V96.1981ZM470.969 87.1502C469.383 87.9635 469.383 87.9635 470.969 87.1502V87.1502ZM473.085 86.5402C488.844 85.117 534.114 85.2186 512.219 112.464C491.594 138.083 450.979 112.871 473.085 86.5402ZM495.508 47.807C487.364 47.197 484.402 52.5851 478.056 53.9067C471.393 55.2283 464.835 52.6867 457.96 55.33C444.21 60.6164 435.431 75.3574 432.046 88.3701C423.373 121.715 446.537 153.434 481.969 157.094C562.46 165.43 581.498 54.3133 495.508 47.807Z" fill="#C1DEE2"/>
            <path opacity="0.5" d="M175.027 108.398C164.767 109.313 115.479 108.601 117.171 126.29C118.758 142.963 162.652 136.761 175.45 136.761C226.219 136.66 277.2 134.118 327.864 130.56C342.777 129.543 388.469 134.728 385.825 109.414C383.392 85.7271 343.835 96.1982 328.181 97.4182C277.2 101.18 226.008 103.823 175.027 108.398Z" fill="#C1DEE2"/>
            <path opacity="0.5" d="M554.633 291.491C428.027 294.744 301.527 295.862 175.027 302.165C127.643 304.504 80.4694 306.232 32.979 306.232C23.8829 306.232 5.47902 302.877 -3.08829 308.367C-26.3575 323.311 0.190562 336.222 15.3156 337.035C119.287 342.627 224.739 328.801 328.604 325.649C389.421 323.819 450.239 323.311 511.056 320.363C527.662 319.55 544.268 318.635 560.768 317.415C570.287 316.703 595.46 318.635 603.181 313.246C636.816 289.763 565.95 291.186 554.633 291.491Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M-26.4633 350.963C-27.6267 382.478 -27.7325 413.485 -23.5017 444.899C-21.8094 457.2 -21.069 471.229 -5.94405 474.381C7.70017 477.227 14.6809 467.264 17.5367 456.285C24.4117 429.344 18.3829 390.611 18.2771 362.654C18.2771 348.828 18.2771 333.375 0.402102 330.224C-13.1363 327.886 -25.9344 337.34 -26.4633 350.963Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M688.96 427.108C483.873 437.477 279.104 446.525 74.0175 454.861C58.0463 455.471 -66.2325 454.251 -22.8672 495.831C-9.43447 508.742 25.1521 499.999 42.4982 499.186C68.6232 497.966 94.6425 497.051 120.767 495.73C224.21 490.646 327.864 489.325 431.2 483.632C488.104 480.48 544.796 475.6 601.383 469.297C628.248 466.248 661.671 466.553 686.95 456.488C699.854 451.202 713.921 425.786 688.96 427.108Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M571.027 266.99C555.479 281.934 563.412 311.315 564.681 329.817C566.268 355.233 568.277 380.648 571.556 405.86C573.671 422.228 572.614 447.745 581.71 461.978C592.393 478.548 615.873 476.719 625.498 460.656C634.066 446.525 629.729 416.636 629.518 400.98C629.2 379.225 627.825 357.469 626.45 335.815C625.287 317.719 629.623 288.644 619.258 273.192C608.575 257.332 585.623 253.063 571.027 266.99Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M102.469 382.783C100.566 384.206 100.566 384.206 102.469 382.783V382.783ZM138.854 378.411C172.806 385.02 117.912 423.143 100.566 396.914C97.8156 392.848 96.4406 387.764 100.777 384.206C104.796 380.953 107.229 386.748 111.037 385.121C117.383 382.58 131.979 378.208 138.854 378.411ZM134.2 347.099C111.037 348.828 79.0944 350.251 67.6714 372.617C52.229 402.607 78.6714 432.089 109.133 436.562C138.537 440.934 182.325 425.278 184.652 392.441C186.556 365.907 160.219 345.066 134.2 347.099Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M327.864 362.959C303.854 363.366 256.681 356.554 235.739 367.737C215.008 378.92 224.316 398.744 243.143 403.421C255.623 406.572 276.037 401.489 289.046 400.981C306.181 400.269 323.21 400.167 340.345 399.964C369.114 399.557 397.883 399.862 426.652 399.862C456.056 399.862 485.883 400.676 515.287 398.541C552.412 395.898 551.354 369.16 515.075 365.907C453.412 360.316 389.739 362.044 327.864 362.959Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M400.104 662.252C400.104 649.544 388.364 662.252 388.469 662.252C388.364 662.252 400.104 674.859 400.104 662.252Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M665.162 560.082C665.373 547.882 650.883 538.834 639.354 543.714C625.181 549.712 627.825 566.486 627.614 578.482C627.085 614.268 621.162 654.729 627.191 690.108C629.094 701.29 634.171 717.76 650.565 711.152C665.267 705.255 661.777 682.483 662.306 670.792C663.892 633.888 664.421 596.883 665.162 560.082Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M33.931 560.59C32.9791 562.826 32.9791 562.826 33.931 560.59V560.59ZM32.556 560.285C28.5368 561.81 31.7098 560.59 32.556 560.285V560.285ZM342.671 530.396C282.277 529.481 221.777 529.583 161.383 530.091C125.739 530.396 90.4118 532.124 54.9791 534.869C24.6233 537.207 11.7195 538.427 2.41177 568.621C-4.14592 589.97 -10.9152 616.911 -6.68439 639.276C-3.61708 655.441 16.4791 674.35 30.2291 652.086C39.1137 637.751 27.4791 605.321 28.9598 588.344C30.0175 575.534 29.4887 564.555 40.0656 560.081C50.6425 555.608 71.4791 560.081 83.0079 560.081C201.787 560.59 320.671 560.285 439.45 562.521C483.239 563.335 527.027 564.555 570.816 566.791C591.018 567.808 611.114 569.129 630.893 573.399C641.787 575.737 692.133 583.565 668.335 554.795C656.806 540.867 612.806 540.156 595.037 538.529C569.969 536.292 544.585 535.377 519.412 534.361C460.498 532.023 401.585 531.311 342.671 530.396Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M109.556 682.889C84.9117 680.145 36.9982 666.217 13.5174 675.265C-26.2518 690.514 43.4501 703.222 53.604 705.153C99.5078 713.795 145.306 721.419 192.056 723.656C303.748 728.942 416.181 723.961 527.979 724.774C559.71 724.977 591.441 725.994 623.066 728.129C638.719 729.247 681.662 725.486 657.758 699.664C646.441 687.464 607.412 691.836 590.912 691.022C559.71 689.599 528.402 689.294 497.2 689.192C368.796 688.786 237.325 697.224 109.556 682.889Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M482.71 635.718C483.662 636.836 483.662 636.836 482.71 635.718V635.718ZM483.556 635.515C484.825 638.26 483.873 636.328 483.556 635.515V635.515ZM491.7 625.552C490.748 626.772 491.489 625.755 491.7 625.552V625.552ZM491.912 625.45C522.373 623.62 512.219 644.156 485.671 637.243C486.835 632.973 488.844 629.008 491.912 625.45ZM493.604 624.535C489.902 626.06 493.604 624.535 493.604 624.535V624.535ZM537.181 593.833C527.767 582.651 507.566 590.885 496.46 592.308C480.171 594.342 471.075 594.037 459.864 606.744C442.412 626.569 440.296 656.864 465.258 671.3C489.479 685.329 527.979 682.584 547.017 661.642C568.383 638.26 554.315 614.369 537.181 593.833Z" fill="#89C5CC"/>
            <path opacity="0.5" d="M360.017 631.855C360.017 604 253.191 617.317 233.2 617.317C210.037 617.317 101.094 605.83 94.5367 629.008C86.604 657.169 197.133 647.409 215.431 647.409C237.219 647.409 360.017 659.1 360.017 631.855Z" fill="#89C5CC"/>
            </g>
            <path d="M1252.96 676.98H1150.79L1137.46 834.658H1289.56L1252.96 676.98Z" fill="#C5CFD6"/>
            <path d="M1252.96 676.98H1221.55L1202.72 834.658H1289.56L1252.96 676.98Z" fill="black" fill-opacity="0.1"/>
            <path d="M1034.34 650.04C1023.44 643.737 1005.14 651.87 1005.14 660.816C1005.14 687.757 1030.74 814.529 1032.12 822.561C1033.49 830.592 1047.77 832.727 1048.62 822.561C1049.99 806.498 1052.42 750.787 1049.99 725.067C1048.93 714.392 1047.88 704.328 1046.82 695.28C1060.25 718.56 1080.98 751.906 1109.01 795.214L1124.24 788.504C1112.29 750.584 1102.45 723.847 1094.84 708.293C1081.72 681.555 1069.45 658.681 1064.27 650.65C1055.91 637.942 1041.85 642.314 1034.34 650.04Z" fill="#B28B67"/>
            <path d="M1122.97 767.46L1070.72 648.414C1058.24 629.098 1023.12 652.379 1027.36 663.562C1037.09 689.079 1086.38 771.628 1089.23 779.252L1122.97 767.46Z" fill="#1F28CF"/>
            <path d="M1125.78 781.022C1129.05 783.611 1131.19 785.752 1132.22 787.444C1133.45 789.493 1134.81 792.545 1136.54 796.817C1134.16 798.129 1112.72 809.989 1072.19 832.395C1067.27 827.871 1066.46 824.516 1069.84 822.052C1073.13 819.638 1075.93 817.617 1078.08 815.948L1100.17 786.392C1100.55 785.822 1101.44 785.685 1102.04 786.068L1106.7 789.551C1110.99 789.198 1114.12 788.536 1116.22 787.375C1117.96 786.416 1119.86 784.531 1122.07 781.53C1122.93 780.34 1124.53 780.167 1125.73 780.933C1125.63 780.984 1125.69 781.073 1125.78 781.022Z" fill="#F2F2F2"/>
            <path d="M1051.89 816.156C1053.38 819.917 1054.12 822.764 1054.12 824.695C1054.12 827.034 1053.69 830.287 1052.95 834.76C1050.2 834.76 1025.35 834.76 978.385 834.76C976.481 828.559 977.539 825.305 981.769 824.797C986 824.289 989.385 823.882 992.135 823.475L1026.83 808.633C1027.46 808.328 1028.31 808.633 1028.63 809.243L1030.85 814.428C1034.76 816.156 1037.83 817.071 1040.26 817.071C1042.27 817.071 1044.91 816.257 1048.4 814.834C1049.78 814.224 1051.26 814.834 1051.89 816.054C1051.79 815.952 1051.89 816.054 1051.89 816.156Z" fill="#F2F2F2"/>
            <path d="M1001.44 669.966C1001.44 703.717 1018.15 782.505 1018.15 789.927H1054.01C1048.72 719.678 1046.92 684.097 1048.4 683.385C1050.73 682.267 1142.43 692.23 1169.83 692.23C1209.49 692.23 1225.88 668.237 1227.26 623.709H1148.67C1132.7 625.336 1049.25 641.5 1018.26 647.092C1005.14 649.43 1001.44 660.613 1001.44 669.966Z" fill="#2B44FF"/>
            <path d="M1184.74 469.183C1190.88 462.27 1195 453.832 1194.26 444.48C1192.25 417.234 1152.9 423.232 1145.18 436.957C1137.46 450.681 1138.41 485.551 1148.36 487.991C1152.27 489.007 1160.73 486.568 1169.3 481.586L1163.9 518.184H1195.63L1184.74 469.183Z" fill="#B28B67"/>
            <path d="M1163.27 421.097C1167.5 420.487 1178.71 419.979 1180.83 419.979C1182.2 419.979 1183.58 420.284 1184.42 419.064C1185.06 418.149 1184.85 416.522 1185.06 415.404C1185.27 414.082 1185.59 412.863 1185.9 411.541C1186.86 407.881 1188.23 404.425 1190.13 401.273C1193.73 395.173 1199.02 390.395 1205.79 387.65C1213.19 384.6 1221.55 383.889 1229.48 384.499C1238.05 385.21 1245.66 387.854 1253.7 390.395C1261.32 392.835 1269.36 393.75 1277.39 392.632C1285.43 391.412 1291.57 387.244 1298.34 383.279C1305.32 379.212 1313.25 376.569 1321.5 377.179C1329.22 377.789 1336.31 380.839 1342.65 384.905C1348.58 388.769 1353.55 393.343 1356.3 399.748C1359.26 406.661 1359.26 414.286 1354.39 420.487C1347.31 429.433 1334.09 431.67 1323.09 431.467C1316.74 431.365 1310.5 430.247 1304.47 428.213C1296.43 425.469 1289.56 420.894 1282.05 417.234C1278.56 415.506 1274.86 414.082 1271.15 413.066C1267.45 412.049 1263.86 411.643 1260.47 413.777C1256.98 416.014 1253.81 418.251 1249.68 419.674C1245.77 420.995 1241.64 421.809 1237.52 421.809C1229.48 421.707 1221.55 419.369 1213.72 417.742C1207.38 416.421 1200.5 415.099 1194.05 416.421C1191.3 416.929 1187.38 418.047 1186.43 420.792C1202.93 423.639 1209.38 443.26 1204.73 457.594C1202.19 465.32 1187.17 474.47 1181.25 470.302C1177.55 467.76 1179.77 464.304 1181.25 462.067C1184 457.797 1184.95 452.307 1179.87 449.258C1175.43 446.716 1170.78 452.816 1170.67 452.816C1169.4 452.714 1158.83 446.919 1151.53 438.583C1144.34 438.99 1143.28 434.415 1144.97 430.755C1146.77 426.689 1157.45 422.012 1163.27 421.097Z" fill="#191847"/>
            <path d="M1084.47 588.84L1036.56 568.609C1028.2 560.578 1020.06 554.478 1012.23 550.31C1009.9 549.598 1005.88 549.395 1010.12 555.393C1014.35 561.391 1018.58 567.897 1016.88 569.93C1015.19 572.065 1010.22 569.727 1008.32 573.082C1007.05 575.319 1015.3 578.063 1033.28 581.215L1069.13 607.647L1084.47 588.84ZM1278.24 594.431L1251.16 599.616C1278.45 648.414 1293.05 674.337 1295.06 677.286C1299.5 683.894 1295.37 695.991 1293.79 702.294C1303.41 704.429 1299.61 690.502 1311.77 693.45C1322.87 696.093 1332.29 702.904 1342.65 693.755C1343.92 692.637 1344.87 689.078 1340.54 687.248C1329.75 682.775 1313.67 674.337 1311.13 670.982C1307.64 666.509 1296.64 640.992 1278.24 594.431Z" fill="#B28B67"/>
            <path d="M1177.55 496.937L1166.12 495.006C1141.16 518.185 1131.01 573.997 1114.4 581.418C1098.75 588.433 1076.43 581.622 1049.99 572.472L1041.85 589.856C1065.86 614.865 1117.05 635.909 1137.78 623.913C1171.1 604.699 1178.71 535.874 1177.55 496.937Z" fill="#DB2721"/>
            <path d="M1227.37 635.096C1181.46 635.096 1147.72 635.096 1126.14 635.096C1121.49 635.096 1122.44 628.691 1123.08 625.438C1130.8 588.026 1160.94 547.768 1160.94 494.599L1190.13 490.227C1214.25 527.436 1222.61 573.387 1227.37 635.096Z" fill="#DDE3E9"/>
            <path d="M1237.41 597.277C1258.04 633.062 1275.38 658.783 1289.45 674.541L1310.71 670.576C1297.07 589.144 1257.51 528.961 1192.04 490.227H1191.72H1180.51C1154.28 576.132 1147.09 633.266 1158.83 661.833H1249.89C1248.41 640.89 1243.76 618.728 1237.41 597.277Z" fill="#FF4133"/>
            <path d="M112.346 689.79V806.701C112.346 817.986 121.865 827.034 133.5 827.034H285.596C297.337 827.034 306.75 817.884 306.75 806.701V689.79C306.75 678.506 297.231 669.458 285.596 669.458H133.5C121.865 669.356 112.346 678.506 112.346 689.79ZM264.442 705.039C267.404 705.039 269.731 707.276 269.731 710.123V786.369C269.731 789.215 267.404 791.452 264.442 791.452H154.654C151.692 791.452 149.365 789.215 149.365 786.369V710.123C149.365 707.276 151.692 705.039 154.654 705.039H264.442Z" fill="#C5CFD6"/>
            <path d="M452.289 812.293C416.327 735.64 392.846 690.095 381.846 675.659C374.548 666.103 342.5 675.659 352.231 696.195C356.356 704.836 369.26 727.303 385.019 752.617C394.221 767.358 411.885 790.131 437.904 820.731L452.289 812.293Z" fill="#B28B67"/>
            <path d="M447 787.385C441.817 780.676 400.673 691.416 383.327 668.848C375.712 658.885 325.577 672.914 335.942 694.365L384.49 811.784L447 787.385Z" fill="#2F3676"/>
            <path d="M268.244 798.224C272.721 794.346 326.152 751.335 362.819 719.39C377.578 706.593 347.909 682.685 333.246 696.724C328.298 701.494 323.022 706.52 317.716 711.832C299.044 730.305 264.742 774.888 255.365 788.105C249.43 796.539 262.029 803.585 268.244 798.224Z" fill="#915B3C"/>
            <path d="M257.506 781.971C258.722 781.18 260.345 781.463 261.184 782.652C263.38 785.686 265.405 787.635 267.076 788.6C269.143 789.818 272.351 790.522 276.572 790.902L281.185 787.526C281.766 787.086 282.577 787.228 283.042 787.797L305.481 817.525C307.724 819.235 310.416 821.288 313.844 823.759C317.273 826.23 316.524 829.595 311.704 834.03C270.995 811.101 249.445 799.058 247.037 797.675C248.622 793.493 249.911 790.42 251.136 788.444C252.106 786.846 254.217 784.734 257.378 782.159C257.325 782.071 257.416 782.021 257.506 781.971Z" fill="#F2F2F2"/>
            <path d="M426.798 815.953C427.433 814.631 429.019 814.123 430.289 814.733C433.779 816.258 436.423 816.969 438.433 816.969C440.865 816.969 444.039 816.054 447.846 814.326L450.067 809.141C450.385 808.531 451.125 808.226 451.866 808.531L486.558 823.374C489.308 823.781 492.798 824.187 496.923 824.696C501.048 825.204 502.212 828.559 500.308 834.658C453.346 834.658 428.49 834.658 425.74 834.658C424.894 830.287 424.577 826.932 424.577 824.594C424.577 822.662 425.317 819.917 426.798 816.054C426.692 816.054 426.798 815.953 426.798 815.953Z" fill="#F2F2F2"/>
            <path d="M318.596 704.429L270.365 763.901L329.173 799.89C371.587 730.15 392.846 695.178 392.952 694.873C395.279 689.078 397.606 671.287 385.019 665.289C315 635.4 275.231 619.033 265.712 616.39H193.789C187.019 660.409 198.442 680.64 237.471 687.248C251.221 689.586 278.192 693.856 318.49 700.159C319.865 700.566 319.865 701.989 318.596 704.429Z" fill="#5C63AB"/>
            <path d="M321.769 616.491L360.692 638.552C370.423 653.395 376.241 659.698 377.933 657.766C380.471 654.716 376.452 651.26 377.827 648.922C379.202 646.583 387.029 647.905 394.433 649.532C401.837 651.056 400.144 647.6 398.558 645.77C391.577 640.382 382.692 635.401 371.798 630.927L334.356 595.752L321.769 616.491ZM150.846 681.962C148.942 685.622 134.875 696.906 125.144 703.311C121.231 705.852 122.817 709.207 124.298 710.021C136.25 717.137 144.183 708.699 154.548 704.124C165.971 699.041 164.914 713.375 174.01 709.512C171.26 703.514 164.808 692.433 167.875 685.113C169.25 681.86 178.452 653.801 195.481 600.835L167.875 600.734C159.096 649.837 153.491 676.98 150.846 681.962Z" fill="#B28B67"/>
            <path d="M323.99 659.597L361.115 616.289C312.039 577.657 277.664 534.654 257.991 487.381L246.567 489.312C244.664 547.768 274.914 604.597 323.99 659.597Z" fill="#191847"/>
            <path d="M232.394 482.501L263.068 486.872C263.068 525.402 274.914 572.269 298.5 627.369H196.644C201.404 565.762 208.173 519.811 232.394 482.501Z" fill="#DDE3E9"/>
            <path d="M231.654 482.501C184.798 526.521 157.721 588.839 150.318 669.356H200.029C199.606 664.069 199.289 658.783 199.183 653.598H265.923C257.568 578.267 252.914 528.147 252.173 503.342L244.769 482.908C239.904 482.704 236.202 482.603 233.769 482.501H231.654C231.76 482.501 231.76 482.501 231.654 482.501C231.76 482.501 231.654 482.501 231.654 482.501Z" fill="#2F3676"/>
            <path d="M199.183 654.106H217.798C210.183 641.907 205.423 619.541 203.519 587.01C199.818 608.46 198.337 630.826 199.183 654.106Z" fill="black" fill-opacity="0.1"/>
            <path d="M246.885 614.764V600.022L213.991 614.764H246.885Z" fill="white" fill-opacity="0.2"/>
            <path d="M215.26 518.998H246.991L241.596 482.399C250.164 487.381 258.625 489.719 262.539 488.804C272.481 486.364 273.327 451.494 265.712 437.77C258.096 424.046 218.644 418.047 216.635 445.293C215.894 454.747 220.019 463.185 226.154 469.997L215.26 518.998Z" fill="#B28B67"/>
            <path d="M265.289 434.415C266.029 435.838 263.914 438.075 263.49 438.786C262.856 439.701 262.115 440.616 261.375 441.531C260.106 443.056 258.837 444.581 257.567 446.208C253.231 451.494 249.74 457.289 246.039 463.083C244.029 466.235 241.914 469.386 239.798 472.538C239.481 473.046 239.164 473.555 238.846 474.063C238.74 474.266 238.635 474.571 238.529 474.774C237.577 477.214 236.625 479.858 235.356 482.196C235.25 481.789 235.25 481.382 235.144 480.976C235.039 480.468 235.039 479.959 234.933 479.553V479.451C234.721 476.299 235.144 473.148 236.096 470.098C237.471 465.32 239.164 460.644 240.539 455.764C241.49 452.409 242.337 449.054 243.289 445.699C244.24 442.446 245.298 439.193 246.567 435.94C247.202 434.313 247.837 432.687 248.577 431.06C248.894 430.348 249.317 429.637 249.635 428.925C249.635 428.824 249.74 428.824 249.74 428.722C249.952 427.705 252.808 426.587 253.76 426.282C253.76 426.282 255.029 427.197 255.24 427.197C255.981 427.502 257.567 428.417 258.308 428.824C260.423 429.84 264.971 433.703 265.289 434.415Z" fill="#2C2C2C"/>
            <path d="M246.25 443.056C244.135 449.359 242.654 455.866 240.538 462.27C238.846 467.557 236.413 473.046 236.942 478.739C237.048 480.163 239.269 480.569 240.962 482.196C242.654 483.823 245.404 488.194 246.779 497.344C246.885 497.547 247.096 503.138 247.625 505.68C248.577 510.051 253.231 514.83 254.817 518.896H193.26C189.981 515.643 194.423 503.647 195.481 499.987C196.327 497.242 197.49 494.7 198.548 492.057C199.288 490.329 199.712 488.397 200.135 486.567C200.346 485.449 200.558 484.433 200.24 483.213C199.923 482.196 199.394 481.281 199.077 480.264C198.548 478.638 198.337 477.113 198.019 475.486C197.702 474.063 197.279 472.64 196.962 471.115C195.904 464.303 196.221 457.39 198.125 450.782C199.923 444.479 203.413 437.973 208.49 433.907C214.096 429.433 222.346 425.875 229.433 424.452C240.01 422.317 252.067 423.232 255.24 425.469C255.875 425.977 256.298 427.4 255.558 427.197C252.067 426.079 247.202 440.311 246.25 443.056Z" fill="#8991DC"/>
            <path d="M232.712 433.805C230.49 436.651 228.587 445.191 230.702 454.341H231.865C231.337 444.683 231.865 440.921 234.192 433.805H232.712ZM202.144 452.511C205 462.575 208.49 470.403 220.442 476.91L221.394 476.3C209.337 468.167 207.327 462.169 202.99 452.104L202.144 452.511ZM219.808 441.836C220.337 455.459 221.923 466.642 232.5 480.265L233.558 479.96C223.298 464.303 222.769 456.17 220.76 441.836H219.808ZM236.414 503.749L237.789 502.935C221.817 494.904 223.192 487.076 210.5 483.213L209.548 484.331C219.067 486.263 222.346 498.157 236.414 503.749Z" fill="black" fill-opacity="0.2"/>
        </svg>
    </section>
</div>
