#separateur {
  background-color: RGBA(137, 197, 204, 0.3);
  height: 40vh;
  top: 38vh;
  position: relative;
  z-index: -5;
}
.union {
  position: relative;
  z-index: -5;
  width: 210vh;
  left: -5vh;
  top: -39vh;
  display: block;
}
#sectionInscription {
  height: 100vh;
  position: relative;
  top: 36vh;
  z-index: -4;
}
#background {
  height: 100vh;
  top: -37.4vh;
  background-color: RGBA(137, 197, 204, 0.3);
  position: relative;
  z-index: -5;
}

#sectionInscription > .girl {
  z-index: -2;
  position: absolute;
  left: 28vw;
  top: -10vh;
}

#sectionInscription > .form {
  z-index: -3;
  position: absolute;
  top: 10vh;
}

#sectionInscription > h2 {
  position: relative;
  z-index: 2;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 96px;
  color: #191847;
  margin-left: 5vw;
  line-height: 15vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#sectionInscription > p {
  position: relative;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-left: 5vw;
}
