<app-nav></app-nav>

<section class="container">


  <svg xmlns="http://www.w3.org/2000/svg" width="1436" height="1014" viewBox="0 0 1436 1014" fill="none">
    <path opacity="0.3459"
      d="M532.3 578.963C545.151 448.004 1235 195.305 1363.05 319.307C1491.1 443.309 1458.71 704.182 1190.29 763.748C921.884 823.314 519.45 709.921 532.3 578.963Z"
      fill="#89C5CC" />
    <g opacity="0.6">
      <path opacity="0.6"
        d="M1229.44 663.767C1247.28 784.971 812.506 864.042 438.303 808.915C64.1011 753.788 -107.579 538.108 70.9757 423.214C249.53 308.321 1211.61 542.377 1229.44 663.767Z"
        fill="#DDE3E9" />
    </g>
    <path
      d="M66.7024 412.263C101.447 470.36 141.766 526.6 166.106 590.265C165.177 582.84 164.062 575.23 162.947 567.806C156.816 528.271 149.198 488.921 141.023 449.571C136.935 429.525 132.662 409.665 128.202 389.804C125.787 379.039 123.372 368.459 120.956 357.694C120.399 355.095 119.841 350.64 119.098 346C142.695 423.214 165.362 500.614 182.085 579.685C184.314 590.079 186.172 600.473 187.659 610.868C188.216 608.455 188.773 606.227 189.331 603.814C196.02 575.601 206.239 547.574 218.13 521.217C223.89 508.596 230.393 496.16 238.196 484.837C243.027 477.599 254.547 469.06 258.82 461.822C234.666 506.183 225.933 561.495 211.998 609.754C208.654 621.448 205.124 633.327 201.779 645.02C222.961 602.515 255.662 567.991 300.997 552.957C246 589.151 213.113 652.816 190.817 717.78C190.817 718.522 190.631 719.265 190.631 720.007C197.134 707.571 205.31 696.435 216.643 688.639C240.612 671.748 266.995 676.76 290.22 691.237C272.012 679.73 239.125 690.124 223.89 702.003C212.927 710.355 203.637 721.678 195.462 732.629C193.604 735.227 190.817 738.383 188.03 741.538C184.128 767.153 177.625 792.396 168.521 817.639C170.007 810.4 168.893 798.892 169.264 793.509C169.264 792.953 169.264 792.396 169.45 791.839C168.149 797.407 166.663 802.79 165.362 808.173C167.964 797.964 169.264 787.199 170.379 776.433C170.751 771.793 170.937 767.153 171.308 762.512C171.308 753.789 170.937 744.879 170.193 735.97C167.964 727.432 165.548 719.265 163.504 712.583C156.258 688.268 145.668 664.881 132.662 643.164C120.77 623.304 106.464 605.299 89.9274 589.151C81.009 580.427 71.719 572.075 62.6148 563.537C59.2703 560.567 53.3247 552.957 48.3081 549.059C85.654 569.662 123.929 591.75 151.242 624.974C148.083 612.724 144.553 600.659 140.837 588.78C122.257 528.827 98.8459 466.648 66.7024 412.263Z"
      fill="#DDE3E9" />
    <path d="M104.048 741.353C104.048 807.987 109.251 862 180.227 862C251.202 862 256.405 807.987 256.405 741.353"
      fill="#C5CFD6" />
    <g opacity="0.5">
      <path opacity="0.5"
        d="M1005.72 20.7648C1004.45 7.65037 988.267 -0.685903 976.315 5.7188C960.133 14.3601 967.114 36.1157 968.489 49.8401C970.392 68.9526 972.296 87.9633 973.142 107.076C973.777 121.105 968.489 141.641 973.142 154.552C977.162 165.735 989.008 170.818 1000.01 164.21C1011.01 157.703 1010.58 137.371 1011.54 126.697C1014.82 91.5215 1009.32 55.8382 1005.72 20.7648Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M422.508 19.1382C364.335 18.9349 365.921 114.192 365.075 152.722C364.758 167.463 361.796 221.344 385.171 223.377C414.364 225.919 394.796 176.104 393.633 161.77C391.517 134.118 382.633 54.0083 413.517 38.759C431.604 29.8128 475.815 39.8773 496.44 39.8773C525.21 39.8773 554.085 39.369 582.854 38.759C695.181 36.3191 810.364 22.5947 922.479 29.3044C935.7 30.1177 949.873 30.4227 962.671 34.3875C970.287 36.8274 980.229 45.1637 988.902 41.6055C1016.61 30.1177 979.171 11.8186 969.017 8.87036C914.017 -7.09057 846.537 2.8723 790.056 5.31219C667.787 10.497 544.777 19.4432 422.508 19.1382Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M397.758 220.327C388.027 220.327 386.335 231.713 390.989 237.508C395.854 243.608 415.633 242.489 421.767 242.794C449.056 244.116 476.662 242.286 503.844 240.456C558.527 236.796 613.104 232.018 667.787 228.358C724.902 224.495 782.123 222.157 839.344 219.006C863.989 217.684 888.739 216.362 913.383 214.329C929.777 213.008 976.104 216.566 989.431 205.485C1019.47 180.679 966.69 178.849 955.162 179.866C931.152 181.899 907.248 184.136 883.239 185.66C827.71 189.117 772.075 191.252 716.546 194.505C610.566 200.605 503.844 219.616 397.758 220.327Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M906.931 96.1981C907.566 97.418 907.566 97.418 906.931 96.1981V96.1981ZM859.97 87.1501C858.383 87.9634 858.383 87.9634 859.97 87.1501V87.1501ZM862.085 86.5402C877.845 85.1169 923.114 85.2186 901.22 112.464C880.595 138.083 839.979 112.871 862.085 86.5402ZM884.508 47.807C876.364 47.197 873.402 52.5851 867.056 53.9067C860.393 55.2283 853.835 52.6867 846.96 55.33C833.21 60.6164 824.431 75.3574 821.047 88.3701C812.374 121.715 835.537 153.434 870.97 157.094C951.46 165.43 970.498 54.3133 884.508 47.807Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M564.027 108.397C553.768 109.312 504.479 108.601 506.171 126.29C507.758 142.963 551.652 136.761 564.45 136.761C615.22 136.659 666.2 134.118 716.864 130.56C731.777 129.543 777.47 134.728 774.825 109.414C772.393 85.7268 732.835 96.198 717.181 97.4179C666.2 101.179 615.008 103.823 564.027 108.397Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M1017.93 791.765C1016.66 778.65 1000.48 770.314 988.526 776.719C972.344 785.36 979.324 807.116 980.699 820.84C982.603 839.953 984.507 858.963 985.353 878.076C985.988 892.105 980.699 912.641 985.353 925.552C989.373 936.735 1001.22 941.818 1012.22 935.21C1023.22 928.703 1022.8 908.371 1023.75 897.697C1027.03 862.522 1021.53 826.838 1017.93 791.765Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M434.719 790.138C376.546 789.935 378.132 885.192 377.286 923.722C376.969 938.463 374.007 992.344 397.382 994.377C426.574 996.919 407.007 947.104 405.844 932.77C403.728 905.118 394.844 825.008 425.728 809.759C443.815 800.813 488.026 810.877 508.651 810.877C537.421 810.877 566.296 810.369 595.065 809.759C707.392 807.319 822.574 793.595 934.69 800.304C947.911 801.118 962.084 801.423 974.882 805.388C982.498 807.827 992.44 816.164 1001.11 812.606C1028.82 801.118 991.382 782.819 981.228 779.87C926.228 763.909 858.748 773.872 802.267 776.312C679.998 781.497 556.988 790.443 434.719 790.138Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M409.969 991.327C400.238 991.327 398.546 1002.71 403.2 1008.51C408.065 1014.61 427.844 1013.49 433.978 1013.79C461.267 1015.12 488.873 1013.29 516.055 1011.46C570.738 1007.8 625.315 1003.02 679.998 999.359C737.113 995.495 794.334 993.157 851.555 990.006C876.2 988.684 900.95 987.362 925.594 985.329C941.988 984.008 988.315 987.566 1001.64 976.485C1031.68 951.679 978.901 949.849 967.373 950.866C943.363 952.899 919.459 955.136 895.45 956.661C839.921 960.117 784.286 962.252 728.757 965.505C622.776 971.605 516.055 990.616 409.969 991.327Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M919.142 867.198C919.777 868.418 919.777 868.418 919.142 867.198V867.198ZM872.181 858.15C870.594 858.963 870.594 858.963 872.181 858.15V858.15ZM874.296 857.54C890.056 856.117 935.325 856.219 913.431 883.464C892.806 909.083 852.19 883.871 874.296 857.54ZM896.719 818.807C888.575 818.197 885.613 823.585 879.267 824.907C872.604 826.228 866.046 823.687 859.171 826.33C845.421 831.616 836.642 846.357 833.258 859.37C824.584 892.715 847.748 924.434 883.181 928.094C963.671 936.43 982.709 825.313 896.719 818.807Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M576.238 879.397C565.979 880.312 516.69 879.601 518.382 897.29C519.969 913.963 563.863 907.761 576.661 907.761C627.43 907.659 678.411 905.118 729.075 901.56C743.988 900.543 789.68 905.728 787.036 880.414C784.604 856.727 745.046 867.198 729.392 868.418C678.411 872.179 627.219 874.823 576.238 879.397Z"
        fill="#C1DEE2" />
      <path opacity="0.5"
        d="M943.633 291.491C817.027 294.744 690.527 295.862 564.027 302.165C516.642 304.503 469.469 306.232 421.979 306.232C412.883 306.232 394.479 302.877 385.911 308.367C362.642 323.311 389.19 336.222 404.315 337.035C508.286 342.627 613.738 328.801 717.604 325.649C778.421 323.819 839.238 323.311 900.056 320.363C916.661 319.549 933.267 318.634 949.767 317.414C959.286 316.703 984.46 318.634 992.181 313.246C1025.82 289.762 954.95 291.186 943.633 291.491Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M362.537 350.963C361.373 382.478 361.268 413.485 365.498 444.899C367.191 457.2 367.931 471.229 383.056 474.381C396.7 477.227 403.681 467.264 406.537 456.285C413.412 429.344 407.383 390.611 407.277 362.654C407.277 348.828 407.277 333.375 389.402 330.224C375.864 327.886 363.066 337.34 362.537 350.963Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M1077.96 427.108C872.873 437.477 668.104 446.525 463.017 454.862C447.046 455.471 322.767 454.252 366.133 495.831C379.566 508.742 414.152 499.999 431.498 499.186C457.623 497.966 483.642 497.051 509.767 495.73C613.21 490.647 716.864 489.325 820.2 483.632C877.104 480.48 933.796 475.601 990.383 469.298C1017.25 466.248 1050.67 466.553 1075.95 456.488C1088.85 451.202 1102.92 425.786 1077.96 427.108Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M960.027 266.99C944.479 281.935 952.412 311.315 953.681 329.817C955.267 355.233 957.277 380.648 960.556 405.86C962.671 422.228 961.613 447.745 970.71 461.978C981.392 478.549 1004.87 476.719 1014.5 460.656C1023.07 446.525 1018.73 416.637 1018.52 400.981C1018.2 379.225 1016.82 357.469 1015.45 335.815C1014.29 317.72 1018.62 288.644 1008.26 273.192C997.575 257.332 974.623 253.063 960.027 266.99Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M491.47 382.783C489.566 384.206 489.566 384.206 491.47 382.783V382.783ZM527.854 378.412C561.806 385.02 506.912 423.143 489.566 396.914C486.816 392.848 485.441 387.765 489.777 384.206C493.796 380.953 496.229 386.748 500.037 385.121C506.383 382.58 520.979 378.208 527.854 378.412ZM523.2 347.1C500.037 348.828 468.095 350.251 456.671 372.617C441.229 402.607 467.671 432.089 498.133 436.562C527.537 440.934 571.325 425.278 573.652 392.441C575.556 365.907 549.22 345.067 523.2 347.1Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M716.864 362.959C692.854 363.366 645.681 356.554 624.738 367.737C604.008 378.92 613.315 398.744 632.142 403.421C644.623 406.572 665.037 401.489 678.046 400.981C695.181 400.269 712.21 400.167 729.344 399.964C758.114 399.557 786.883 399.862 815.652 399.862C845.056 399.862 874.883 400.676 904.287 398.541C941.412 395.898 940.354 369.161 904.075 365.907C842.412 360.316 778.738 362.044 716.864 362.959Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M789.104 662.252C789.104 649.544 777.364 662.252 777.469 662.252C777.364 662.252 789.104 674.858 789.104 662.252Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M1054.16 560.082C1054.37 547.882 1039.88 538.834 1028.35 543.714C1014.18 549.712 1016.83 566.486 1016.61 578.482C1016.09 614.267 1010.16 654.729 1016.19 690.107C1018.09 701.29 1023.17 717.759 1039.57 711.151C1054.27 705.255 1050.78 682.483 1051.31 670.792C1052.89 633.888 1053.42 596.883 1054.16 560.082Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M422.931 560.59C421.979 562.827 421.979 562.827 422.931 560.59V560.59ZM421.556 560.285C417.537 561.81 420.71 560.59 421.556 560.285V560.285ZM731.671 530.396C671.277 529.481 610.777 529.583 550.383 530.091C514.738 530.396 479.412 532.125 443.979 534.869C413.623 537.208 400.719 538.428 391.412 568.621C384.854 589.97 378.085 616.911 382.315 639.276C385.383 655.441 405.479 674.35 419.229 652.086C428.113 637.751 416.479 605.321 417.96 588.344C419.017 575.534 418.488 564.555 429.065 560.082C439.642 555.609 460.479 560.082 472.008 560.082C590.787 560.59 709.671 560.285 828.45 562.522C872.238 563.335 916.027 564.555 959.815 566.791C980.017 567.808 1000.11 569.13 1019.89 573.399C1030.79 575.738 1081.13 583.566 1057.33 554.795C1045.81 540.868 1001.81 540.156 984.037 538.529C958.969 536.293 933.585 535.378 908.412 534.361C849.498 532.023 790.585 531.311 731.671 530.396Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M498.556 682.889C473.912 680.144 425.998 666.217 402.517 675.265C362.748 690.514 432.45 703.222 442.604 705.153C488.508 713.795 534.306 721.419 581.056 723.656C692.748 728.942 805.181 723.961 916.979 724.774C948.71 724.977 980.441 725.994 1012.07 728.129C1027.72 729.247 1070.66 725.486 1046.76 699.664C1035.44 687.464 996.412 691.836 979.912 691.022C948.71 689.599 917.402 689.294 886.2 689.192C757.796 688.786 626.325 697.224 498.556 682.889Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M871.71 635.718C872.662 636.836 872.662 636.836 871.71 635.718V635.718ZM872.556 635.515C873.825 638.26 872.873 636.328 872.556 635.515V635.515ZM880.7 625.552C879.748 626.772 880.489 625.755 880.7 625.552V625.552ZM880.912 625.45C911.373 623.62 901.219 644.156 874.671 637.243C875.835 632.973 877.844 629.008 880.912 625.45ZM882.604 624.535C878.902 626.06 882.604 624.535 882.604 624.535V624.535ZM926.181 593.833C916.767 582.651 896.566 590.885 885.46 592.308C869.171 594.342 860.075 594.037 848.864 606.744C831.412 626.569 829.296 656.864 854.258 671.3C878.479 685.329 916.979 682.584 936.017 661.642C957.383 638.26 943.316 614.369 926.181 593.833Z"
        fill="#89C5CC" />
      <path opacity="0.5"
        d="M749.017 631.855C749.017 604 642.19 617.317 622.2 617.317C599.037 617.317 490.094 605.83 483.537 629.008C475.604 657.169 586.133 647.409 604.431 647.409C626.219 647.409 749.017 659.1 749.017 631.855Z"
        fill="#89C5CC" />
    </g>
    <path
      d="M1308.11 343.441C1307.43 342.624 1305.36 342.02 1304.42 341.654C1300.7 340.029 1296.55 338.82 1292.5 337.968C1280.01 335.344 1267.1 333.977 1254.33 333.487C1246.28 333.143 1235.93 335.687 1228.65 331.63C1216.08 324.603 1202.43 321.902 1188.33 325.346C1175.5 328.382 1164.34 337.165 1156.75 347.539C1155.56 349.145 1151.16 354.795 1149.27 358.95C1148.77 359.689 1148.08 360.556 1147.59 361.295C1146.07 363.674 1144.72 366.087 1143.37 368.5C1142.81 369.563 1141.49 371.814 1142.36 372.503C1140.12 375.069 1138.02 377.83 1136.21 380.821C1130.87 389.309 1125.03 398.537 1121.73 407.791C1120.5 411.241 1119.75 414.793 1119.46 418.609C1119.25 420.42 1118.5 423.972 1119.37 425.502C1121.35 428.954 1123.49 425.19 1123.58 423.184C1124.36 408.175 1131.62 395.37 1139.5 382.862C1144.61 374.663 1151.66 367.714 1159.18 361.709C1165.3 356.757 1171.48 353.164 1178.94 350.686C1188.06 347.546 1197.63 345.511 1207.04 343.442C1213.26 342.051 1219.44 340.821 1225.75 339.788C1227.15 339.576 1229.53 338.727 1230.83 339C1233.91 339.647 1237.65 342.794 1240.56 344.249C1249.71 349.038 1258.69 354.635 1268.47 358.04C1274.75 360.372 1280.99 360.502 1287.43 359.664C1288.11 359.639 1289.22 359.198 1290.69 358.663C1295.44 357.807 1300.09 356.594 1304.47 354.309C1306.95 352.976 1309.37 351.125 1311.59 349.4C1312.22 348.857 1312.68 348.279 1312.85 347.472C1313.2 347.378 1313.6 347.124 1313.66 346.801C1314.59 344.804 1310.7 343.986 1308.11 343.441Z"
      fill="#FF9B21" />
    <path
      d="M1280.84 399.081C1275.56 396.792 1269.4 395.497 1263.69 394.466C1233.43 388.612 1200.78 396.585 1176.7 415.297C1156.25 431.232 1146.66 454.337 1138.29 478.038C1137.45 480.392 1136.78 482.78 1136.11 485.168C1136.01 485.652 1135.75 486.102 1135.64 486.587C1134.11 487.445 1133.19 488.6 1133.69 490.224C1129.65 495.78 1125.89 501.566 1122.43 507.582C1112.42 525.375 1102.16 543.618 1101.68 564.425C1104.8 553.615 1109.12 542.721 1113.53 532.184C1113.83 531.572 1114.13 530.96 1114.43 530.348L1114.46 530.187C1115.98 526.966 1117.64 523.941 1119.58 521.146C1119.58 521.146 1119.58 521.146 1119.61 520.984C1119.88 520.534 1120.11 520.245 1120.37 519.795C1120.86 519.056 1121.39 518.155 1122.05 517.45C1122.28 517.161 1122.51 516.872 1122.54 516.711C1125.24 512.726 1127.1 507.891 1129.68 503.71C1130.2 502.81 1130.93 501.781 1131.45 500.881L1131.49 500.719C1133.2 498.213 1135.07 495.74 1136.95 493.268C1137.7 492.92 1138.49 491.569 1139.38 490.575C1139.57 490.448 1140.89 489.037 1141.41 488.137C1142.53 486.854 1143.68 485.409 1144.8 484.127C1145.91 482.844 1147.03 481.561 1148.14 480.278C1148.37 479.989 1148.6 479.7 1148.83 479.411C1149.26 478.995 1149.52 478.545 1149.95 478.129C1153.53 473.991 1157.43 469.922 1161.3 466.014C1162.61 464.604 1165.71 462.727 1166.57 461.053L1166.61 460.891C1174.83 453.178 1183.86 446.477 1193.97 441.858C1192.6 442.75 1189.68 446.182 1188.86 446.853C1186.6 448.739 1184.18 450.59 1181.6 452.408C1177.21 455.534 1172.93 459.016 1168.96 462.567C1161.63 469.286 1155.03 476.499 1148.73 483.942L1148.53 484.069C1145.65 486.498 1143.31 490.39 1141.01 493.279C1148.14 491.574 1155.84 491.17 1163.23 489.856C1170.45 488.508 1177.71 486.999 1184.78 484.775C1194.2 481.865 1203.88 478.504 1213.08 474.199C1223.34 470.456 1232.59 464.307 1241.1 457.665C1251.04 449.808 1260.38 441.653 1267.36 430.981C1270.82 425.807 1273.69 420.173 1276.12 414.275C1276.19 413.953 1276.38 413.825 1276.45 413.502C1278.03 411.642 1279.28 409.713 1280.56 407.623C1282.38 404.632 1286.11 401.37 1280.84 399.081Z"
      fill="#E87613" />
    <path
      d="M1269.89 507.553C1264.48 501.865 1256.13 498.928 1248.51 497.327C1218.67 491.056 1188.16 496.107 1160.54 507.499C1145.34 513.747 1131.1 522.724 1118.05 532.458C1110.59 538.141 1103.52 544.41 1098.06 551.861C1094.27 556.967 1091.27 562.405 1088.88 568.141C1085.89 575.101 1083.16 582.451 1081.11 589.777C1080.34 592.649 1075.26 607.937 1080.09 609.121C1080.03 609.444 1079.92 609.928 1079.86 610.251C1065.66 624.634 1055.1 642.647 1045.07 659.76C1036.36 674.621 1028.23 689.941 1021.69 705.764C1013.06 726.711 1005.78 748.449 999.831 770.298C998.523 774.912 997.342 779.722 996.162 784.532C995.151 788.535 994.141 792.538 993.096 796.702C991.984 801.189 990.053 806.347 989.913 811.039C989.747 815.051 993.254 815.282 994.265 811.279C995.411 806.63 996.429 801.786 997.576 797.138C999.223 790.908 1000.71 784.645 1002.36 778.416C1013.66 735.1 1030.83 693.691 1054.44 655.489C1063.96 639.957 1074.26 625.598 1086.4 612.133C1097.04 600.205 1109.22 588.941 1121.37 578.679C1133.28 568.707 1145.45 559.126 1158.91 551.5C1169.88 545.207 1181.59 540.249 1193.52 535.844C1208.58 530.242 1223.6 524.801 1239.55 521.409C1247.72 519.586 1256.15 518.154 1264.29 516.492C1265.72 516.119 1267.28 515.941 1268.71 515.568C1273.56 514.227 1272.82 510.53 1269.89 507.553Z"
      fill="#FF9B21" />
    <path
      d="M1117.48 635.02C1129.64 637.576 1140 641.439 1150.2 648.473C1158.89 654.682 1166.65 662.047 1173.83 669.793C1184.06 680.711 1191.43 692.376 1195.32 706.853C1197.59 715.421 1198.2 727.015 1193.84 734.866C1188.65 744.23 1178.33 750.659 1167.35 746.497C1160.62 743.901 1155.08 738.017 1150.81 732.567C1145.58 726.071 1141.71 718.683 1138.96 710.853C1134.52 698.119 1133.15 684.511 1129.79 671.497C1128.22 665.266 1126.65 659.035 1124.53 653.025C1123.45 650.101 1122.25 646.981 1120.22 644.532C1119.13 643.29 1113.86 640.16 1116.44 638.343C1084.89 632.216 1051.98 650.252 1039.7 678.864C1038.64 681.506 1037.54 684.311 1036.48 686.954C1035.78 688.662 1034.59 695.154 1032.73 695.944C1028.65 697.616 1031.83 690.529 1032.07 689.399C1032.97 686.722 1034.07 683.918 1035.13 681.275C1040.75 666.608 1050.55 653.83 1064.17 645.397C1079.95 635.562 1099.16 631.169 1117.48 635.02Z"
      fill="#E87613" />
  </svg>


  <div class="carteContainer">

    <p id="question">{{ques}}</p>
    <div *ngIf="pers">
      <div class="mdc-text-field mdc-text-field--outlined">
        <input class="mdc-text-field__input" id="text-field-hero-input" [(ngModel)]="nbrpersonne" type="number" min=1
          max=10>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <button mat-button (click)="reponse(null)" [disabled]="!nbrpersonne">Valider</button>

    </div>
    <div class="buttons" *ngIf="visible">
      <button mat-button (click)="reponse('Oui')">OUI</button>

      <button mat-button (click)="reponse('Non')">NON</button>


    </div>


  </div>
















  <!-- <div class="carte-container">
      <div class="mdc-card">
        
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          ... additional primary action content ... -->

  <!-- <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
              <span class="mdc-button__label">Oui</span>
            </button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">
              <span class="mdc-button__label">Non</span>
            </button>
          </div>

        </div>
      </div>

    </div> -->


</section>