*{
    margin: 0;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #2B44FF;
  
}
.container{
    max-height:100vh;
    width: 100%;
    
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
	display: none;
}

input.example-right-align {
	-moz-appearance: textfield;
}

.inscription-container {
	margin-left: 8vw;
	width: 250px;
	margin-top: 10vh;
}

.inscription-container > button {
	float: right;
	border-radius: 15px;
	text-transform: uppercase;
	background-color: #2B44FF;
	
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #2B44FF;
  
}


.container > svg {
    height:100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.container > .carteContainer {
    background-color: white;
    top: 35vh;
    left :23vw;
    position: relative;   
    z-index:10;
    width:50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    padding: 2rem;      
}

.carteContainer{
    box-shadow: 0px 0px 5px 0px rgb(151, 148, 148);
}

.carteContainer > p{
    text-align: center;
}
.buttons > button{
    color:#e87613;
}





// .container > .carte-container> p {
    
// }