<div class="inscription-container" style="justify-content: left !important;">
  <form [formGroup]="connectionForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Votre Email" [(ngModel)]="association.email"
          formControlName="email" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput placeholder="Mot de Passe" [(ngModel)]="association.password"
          formControlName="password" />
      </mat-form-field>
    </p>
    <a href="#">Mot passe oublié ?</a>
    <button mat-raised-button color="primary" (click)="connection()">Connexion</button>
  </form>
</div>