input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
	display: none;
}

input.example-right-align {
	-moz-appearance: textfield;
}

.inscription-container {
	margin: 2vh 0;
	width: 250px;
}

.inscription-container > button {
	float: right;
	//border-radius: 15px;
	text-transform: uppercase;
	background-color: #2B44FF;
	
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #2B44FF;
  
}

p {
	margin: 0;
}

 ::ng-deep .mat-form-field {
    width: 15vw;
 }

 button {
	 margin: 0;
 }