


<div class="inscription-container">
  <form [formGroup]="creationForm">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Association</mat-label>
        <input matInput required placeholder="Nom association" name="name" [(ngModel)]="association.name" formControlName="name" />
      </mat-form-field>
      
    </p>
    
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required  placeholder="Votre Email" name="email" [(ngModel)]="association.email" formControlName="email" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" required placeholder="Votre password" name="password" [(ngModel)]="association.password"
          formControlName="password" />
      </mat-form-field>
    </p>
    
    <button mat-raised-button color="primary" (click)="CreateAssoNew()">Envoyer</button>

  </form>
</div>

