input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input.example-right-align {
  -moz-appearance: textfield;
}

.inscription-container {
  margin-left: 8vw;
  width: 250px;
  margin-top: 23vh;
}

.inscription-container > button {
  float: right;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #2b44ff;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #2b44ff;
}
